.box {
  background-color: blue;
  height: 100px;
  width: 100px;
}
.para {
  color: green;
  width: 200px;
  border: 3px dashed orange;
}
.backgroundImage {
  height: 325px;
  width: 200px;
  background-image: url("img/warlock.jpg");
}
