#container {
  margin: auto;
  height: 600px;
  width: 920px;
}

#header {
  background-color: lightgray;
  height: 70px;
  width: 900px;
  margin: 10px;
  margin-bottom: 0px;
  float: left;
}

.box {
  background-color: lightgray;
  height: 81px;
  width: 81px;
  margin: 10px;
  margin-bottom: 0px;
  float: left;
  margin-left: 0px;
}

.leftbox {
  margin-left: 10px;
}

#footer {
  clear: both;
  background-color: lightgray;
  height: 30px;
  width: 900px;
  margin: 10px;
  float: left;
}
